<!DOCTYPE html>
<html lang="en" ng-app="createRegApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>create_reg</title>
    <script type="text/javascript" src = "js/angular.js"></script>
    <script type="text/javascript" src = "js/index.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <section>
      <h1 class="text-center header-text">Create Your Session</h1>
      <div class="container">
        <div class="jumbotron">
          <form name = "myForm" class="form-horizontal" ng-controller="createCtrl">
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">Your Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" placeholder="Your First Name">
              </div>
              <br>
              <div class="col-md-offset-2 col-sm-10">
                <input type="text" class="form-control" id="lastName" placeholder="Your Last Name">
              </div>
            </div>
            <div class="form-group required">
              <label for="" class="col-sm-2 control-label">Class Name&#42;</label>
              <div class="col-sm-10">
                <input name = "className" type="text" class="form-control" id="className"  ng-model="className" placeholder="Your Class Name" required>
                <span class="help-inline" ng-show="submitted && myForm.className.$valid" ng-init = "redirect()"></span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Passcode</label>
              <div class="col-sm-2">
                <input type="password" class="form-control" id="inputPassword" placeholder="Create a 4-digit code">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-5 col-sm-2 button-a" >
                <button type="submit" class="btn btn-default btn-lg" ng-click="createSession(); submitted=true"><a href="create_session.html">Create Session</a></button>
              </div>
            </div>
          </form>
        </div>
        
      </div>
    </section>
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src = "js/create_reg.js"></script>
  </body>
</html>