.row {
	background-color: transparent !important;
}
#rowleft {
	margin: 3%;
}
#right-container {
	background-color: white;	
	height: 100% !important;
	width: 60% !important;
}
#left-container {
	position: absolute;
	top:0%;
	height: 100% !important;
	width: 100% !important;
	margin-left: 60%;
}
#fullView {
	height: 100%;
	width: 100%;
}
#firstrow {
	margin-top: 15% !important;
	margin: auto !important;
}
#leftblock {
	background-color: 2px solid red !important;
	margin-left: 7%;
	margin-top: 15%;
	background-color: white;
	height: 100% !important;
}
#rightblock {
	background-color: 2px solid red !important;
	margin: auto;
	margin-top: 31%;
	background-color: white;
	height: 100% !important;
}
#createSessionBtn {
	height: 5% !important;
	width: 30% !important;
	background-color: white;
	color: black;
	border-radius: 1px;
	
}
#codeInput {
	font-size: 14px;
	margin: auto;
	margin-top: 24% !important;
	width: 60%;
	height: 6% !important;
	
}
#joinSessionBtn{
	position: relative !important;
	top: 4% !important;
	margin: auto !important;
	width: 30% !important;
	height: 4.5% !important;
	background-color: black;
	color: white;
	border: none;
	border-radius: 1px !important;
	
}
.create-panel {
}
body {
}
.block, .container {

}
.move-right {
    left: 10vh;
}
.block {
	height: 100%;
	width: 100%;
}
.vr {
    width:2px;
    height:150px;
    background-color:#000000;
    position:absolute;
    top:0px;
    left:0;
}
.button-padding {
    padding-right: 200px;
}
.block a {
    text-decoration: none;
}
.btn a {
    text-decoration:none;
}
.header-text {
    padding: 50px;
}

    .fix-button-left {
        height: 50px;
    width: 30%;
    top: 20vh;
      left: 4%;
      background-color: #fff;
      position: relative;
      z-index: 999;
}
.control-label {
	width: 20%;
	height: 12%;
}

/*iphone*/
@media screen and (min-width: 320px) {
    .fix-button-left {
    height: 50px;
    width: 80%;
    top: 20vh;
      left: 4%;
      padding-left: 0px;
      position: relative;
    }
    
    .navbar-right {
        float: right;
    }
}
/*iphone*/
@media screen and (min-width: 460px) {
    .fix-button-left {
        height: 50px;
    width: 50%;
    top: 15vh;
      left: 3%;
      position: relative;
    }
}
/*tablet*/
@media screen and (min-width: 768px) {
    .fix-button-left {
        height: 50px;
    width: 55%;
    top: 10vh;
      left: 2%;
      position: relative;
    }
    .navbar-right {
        float: right;
    }
}
/*desktop*/
@media screen and (min-width: 1024px) {
    .fix-button-left {
    height: 50px;
    width: 35%;
    top: 10vh;
      left: 1%;
      position: relative;
    }
}
.vertical-text {
    transform: rotate(90deg);
	transform-origin: left top 0;
}

.scrollbar {
    height: 92%;
    width: 100%;
    position: absolute;
    background-color: gray;
    z-index: -999;
    overflow: scroll;
}
.list-group {
    width: 93%;
    left: 10vh;
    position: absolute;
}
.panel-button-group {
    position: absolute;
    bottom: 0%;
    left: 20vh;
    width: 90%;
    padding: 0px;
    margin: 0px;
}
.panel-button {
    width: 60%;
    padding: 40px; 
    margin: 0px; 
    height: 200px;
}
.btn-lg {
    width: 150px;
    padding: 20px;
}
.student-item {
    color: #333;
}
.generate-button {
    position: relative;
    top: 76%;
    border-radius: 0px;
    height: 100px;
}
.student-response {
    height: 100px;
}
.student-input {
    width: 100%;
    height: 70px;
    
}
.student-qa-button {
    width: 100%;
    height: 50px;
}
.qa-button-group {
    padding-top: 25px;
    padding-bottom: 25px;
}
.response-area {
    top: 20vh;
    position: relative;
    padding-bottom: 20px;
}
.student-response-button {
    width: 100%;
}
.student-response-button:hover {
    background-color: #2ec4b6;
    color: #fff;
}
.response-label {
    padding-top: 30px;
    padding-bottom: 10px;
}

.public-display {
    height: 82vh;
    width: 100%;
    overflow: scroll;
}
.public-display li {
    font-size: 300%;
    padding: 50px;
}
.public-poll {
    height: 88vh;
    width: 100%;
}
.padding-top {
   padding-top: 20px;
}
.slide {
    padding-top: 30px;
    height: 82vh;
    width: 90%;
    left: 20vh;
    position: fixed;
}
@media screen and (max-width: 450px) {
    body {
        height: 100%;
    }
    .slide {
        padding-top: 30px;
    height: 81vh;
    width: 90%;
    left: 6vh;
    position: fixed;
}
.panel-button-group {
    position: fixed;
    bottom: 0%;
    left: 6vh;
    width: 90%;
    padding: 0px;
    margin: 0px;
}
.generate-button {
    bottom: 70vh;
}
#sidebar-wrapper {
    background-color: #fff;
    color: #333;
    height: 100vh;
}
.box {
    left: 0;
}
}
@media screen and (max-width: 780px) {
    .slide {
    padding-top: 30px;
    height: 81vh;
    width: 100%;
    left: 0vh;
    position: fixed;
}
    .panel-button-group {
    position: fixed;
    bottom: 0%;
    left: 0vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.generate-button {
    top: 84vh;
}
.box {
    left: 0;
}
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
   border-radius: 0px;
}
#pinDiv {
  z-index: 2;
  background-color: rgba(0,0,0, 0.9);
  height: 100%;
  width: 100%;
  position:absolute;
}
input[type=password] {
    padding: 10px;
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}
#pinForm {
     height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    z-index: 3;
}

#pinTitle {
  z-index: 4;
  color: white;
}
<<<<<<< HEAD


#createSessionForm{
    overflow: hidden;
=======
.button-1 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    height: 200% !important;
}
.nopadding-bottom {
    padding: 0px !important;
    margin: 0px !important;
}
@media screen and (min-width: 1016px) {
    .box {
    left: 15vh;
}
}
#status  {
    float: right;
}
.navbar-text {
    padding-right: 20px;
>>>>>>> 28ec37c2ba2b37149a2ac1a5ed34892d844f7c24
}