body {
    background-color: #b2dbbf;
}
.block, .container {
    position: absolute;
  left: 50%;
  top: 50%;
    
  transform: translate(-50%, -50%);
}
.vr {
    width:2px;
    height:150px;
    background-color:#000000;
    position:absolute;
    top:0px;
    left:0;
}
.button-padding {
    padding-right: 200px;
}
.block a {
    text-decoration: none;
}
.btn a {
    text-decoration:none;
}
.header-text {
    padding: 50px;
}

    .fix-button-left {
        height: 50px;
    width: 30%;
    top: 30vh;
      left: 4%;
      background-color: #fff;
      position: relative;
      z-index: 999;
}

/*iphone*/
@media screen and (min-width: 320px) {
    .fix-button-left {
        height: 50px;
    width: 80%;
    top: 20vh;
      left: 4%;
      padding-left: 0px;
      position: relative;
    }
    
    .navbar-right {
        float: right;
    }
}
/*iphone*/
@media screen and (min-width: 460px) {
    .fix-button-left {
        height: 50px;
    width: 50%;
    top: 15vh;
      left: 3%;
      position: relative;
    }
}
/*tablet*/
@media screen and (min-width: 768px) {
    .fix-button-left {
        height: 50px;
    width: 55%;
    top: 10vh;
      left: 2%;
      position: relative;
    }
    .navbar-right {
        float: right;
    }
}
/*desktop*/
@media screen and (min-width: 1024px) {
    .fix-button-left {
    height: 50px;
    width: 35%;
    top: 10vh;
      left: 1%;
      position: relative;
    }
}
.vertical-text {
    transform: rotate(90deg);
	transform-origin: left top 0;
}

.scrollbar {
    height: 92%;
    width: 100%;
    position: absolute;
    background-color: gray;
    z-index: -999;
    overflow: scroll;
}
.list-group {
    width: 93%;
    left: 10vh;
    position: absolute;
}
.panel-buttons {
    position: absolute;
    bottom: 0%;
    left: 50vh;
}
.btn-lg {
    width: 150px;
    padding: 20px;
    margin-right: 20px
}
.student-item {
    color: #fff;
}
.generate-button {
    position: relative;
    top: 70%;
    border-radius: 0px;
    height: 100px;
}
.student-response {
    height: 100px;
}
.student-input {
    width: 100%;
    height: 70px;
    
}
.student-qa-button {
    width: 100%;
    height: 50px;
}
.qa-button-group {
    padding-top: 20px;
    padding-bottom: 10px;
}
.response-area {
    top: 20vh;
    position: relative;
    padding-bottom: 20px;
}
.student-response-button {
    width: 100%;
}
.student-response-button:hover {
    background-color: red;
}
.response-label {
    padding-top: 30px;
    padding-bottom: 10px;
}

.public-display {
    height: 82vh;
    width: 100%;
    overflow: scroll;
}
.public-display li {
    font-size: 300%;
    padding: 50px;
}
.public-poll {
    height: 88vh;
    width: 100%;
}
.padding-top {
   padding-top: 20px;
}