
  <head>
    <title>answerme</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/answerme.css">
  </head>
  
  <body ng-app="myApp">
    <section class="block">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2"> <!--Main Block for Create and Join Portals -->
          <div class="row">
            <div class="col-md-6"> <!--Create Session Button -->
              <button class="btn btn-default btn-lg" ng-controller="buttonCtrl">Create Session {{fN}}</button>
            </div>
            <div class="col-md-6"> <!--Join Seession Input code-->
              <input class="form-control" name="joinSession"  placeholder="Enter Your Session ID here!">
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>